<footer>
    <div class="media">
        <a target="_blank" href="https://www.facebook.com/profile.php?id=100011408963894&mibextid=ZbWKwL"> <i class="fa-brands fa-facebook"></i> </a>
        <a target="_blank" href="https://www.instagram.com/moaaz__hail?igsh=MXB0eDU0YWxqZ2Fmaw=="> <i class="fa-brands fa-instagram"></i> </a>
        <a target="_blank" href="https://www.linkedin.com/in/moaaz-al-shahed-890a2820b/"> <i class="fa-brands fa-linkedin-in"></i> </a>
        <a target="_blank" href="https://github.com/MoaazHail"> <i class="fa-brands fa-github"></i> </a>
    </div>
<p class="Copyright">Copyright © 2024 by Moaaz Hail | All Rights Reserved.</p> 
</footer>



