
.container-service{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 18.75rem;
    border-radius: 1.25rem;
    margin-bottom: 3rem;
    background: var(--action-c);
}
.container-service .card{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.625rem;
    overflow: hidden;
    margin: 0.625rem;
    width: 15.625rem;
    height: 15.625rem;
    background: var(--main-c);
}
.container-service .card img{
    position: absolute;
    border-radius: 0.625rem;
    width: 100%;
    height: 100%;
    transition: ease 2s;
}
.container-service .card:hover img{
    transform: scale(1.5);
}
.container-service .card .text{
    position: absolute;
    padding:0.625rem;
    height: 50%;
    color: var(--main-c);
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    bottom: 0px;

}
.container-service .card .text h3{
    text-decoration-line: underline;
    margin-bottom: 0.3125rem;
}

.container-service .card:hover .text{
    transform: translateY(0);
}
